<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Chat</title>
</head>
<body>
    <h3>Write a message...</h3>
    <form method="POST" action="/chats">
        <input placeholder="enter sender name" name="from" type="text">
        <br><br>
        <textarea placeholder="write your message" name="msg" id="message"></textarea>
        <br><br>
        <input placeholder="enter reciver name" name="to" type="text">
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>
<br>