<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>This is Homepage</h1>
    <h2><u>Interpolation Syntax</u></h2>
    <h3> <%= 1+2 %> </h3>
    <h3><%= 'uppercase'.toUpperCase() %> </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo aspernatur, libero eligendi natus minima ipsam aut labore at ut sequi dolorem quasi dicta quaerat minus dignissimos velit earum nisi quae!
    Ratione dolor voluptatum nostrum? Explicabo id in expedita delectus optio molestiae quaerat incidunt nemo velit fugiat, quidem odio dolorem reprehenderit. Soluta ab odio possimus vero! Velit ea voluptates officiis optio.
    Doloribus at quasi mollitia vero dolorum dicta corporis adipisci architecto ipsam minima. Fugit enim, a odio nihil quas quasi dolorum laborum natus velit nam minima. Dolor eveniet maiores odio est.
    Minus tempora est expedita hic fugit maiores aperiam quos fugiat magnam aspernatur, unde, voluptates a similique, ipsum ullam architecto! Culpa inventore facilis alias possimus hic minus debitis veniam maxime eveniet.
    Ducimus eos quod facere odit explicabo non optio sequi id numquam adipisci assumenda iure modi animi at rerum eum sapiente suscipit temporibus aliquam, voluptates reiciendis expedita sit aperiam? Ipsam, rerum!
    Distinctio maxime numquam vero? Commodi aut beatae iure amet officia fuga nulla veniam, dicta voluptatem dolorem molestias hic earum. Vel praesentium consequatur quasi neque nam repellat voluptatum iusto molestiae minima?
    Officia, exercitationem deserunt? Nisi optio iure quisquam dolor, illo ratione excepturi ad dolorem, sit recusandae totam, illum voluptatibus deleniti quos soluta praesentium placeat laboriosam quae beatae facilis. Excepturi, debitis adipisci!
    Odio similique aperiam inventore dolorum temporibus nam rem labore tempora doloremque veniam odit provident quae dignissimos soluta possimus, minima iusto! Itaque voluptatum tenetur vero rerum expedita quisquam nulla aspernatur repellat.
    Voluptates, reprehenderit itaque debitis neque voluptate culpa inventore. Quis unde deleniti quibusdam possimus. Amet delectus ullam maiores quia quasi architecto fugiat! Minima natus eligendi rerum enim vitae voluptates a commodi?
    Repellendus mollitia dolorum delectus in quis quaerat id architecto laboriosam dignissimos numquam laborum reiciendis, facilis cumque magnam itaque labore nostrum doloribus harum natus. Velit nulla porro magni animi, amet vel.</p>
    <button>Click to Read more...</button>
</body>
</html>