<div style="background-color: yellow;">
    <p>Vist below links to learn more...</p>
    <ul>
        <li><a href="https://www.npmjs.com/">npm</a></li>
        <li><a href="https://ejs.co/">ejs</a></li>
    </ul>
</div>