div {
    height: 400px;
    width: 800px;
    background-color: gold;
    margin: auto;
    text-align: center;
    background-image: url("BackgroundImage.jpg");
    background-size: contain;
    background-size: cover;
    background-size: auto;
}