<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat</title>
</head>
<body>
    <p>From: <%= chat.from %></p>
    <form method="POST" action="/chats/<%= chat._id %>?_method=PUT">
        <textarea name="msg" rows="2" cols="30"> <%=chat.msg %> </textarea>
        <br>
        <button>Save</button>
    </form>
    <p>To: <%= chat.to %></p>
</body>
</html>